---
layout: "wrapper"
title: "Read our work"
---

<div class="container mt-4">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-0">
            <div class="media"></div>
            <div class="media-body">
                <h4>Selected work</h4>
            </div>
        </div>
    </div>
    <hr class="featurette-divider">

    {% assign sorted_array = site.papers | sort: "rank" %}
    {% for paper in sorted_array %}
        {% if paper.title == "selected work" %}
            <div class="row">
                <div class="col-lg-12 paperbox">
                    <div class="media d-flex">
                        <!-- Image container -->
                        <a href="{{ paper.url }}">
                            <img class="mr-3 align-self-center" width="300" src="{{ paper.image_url }}" alt="{{ paper.image_alt }}">
                        </a>
                        <!-- Text container -->
                        <div class="media-body align-self-center">
                            <div class="smallhead mb-1">
                                <strong><a href="{{ paper.url }}" class="off">{{ paper.paper_title }}</a></strong>
                            </div>
                            <p class="note"> {{ paper.author_list }} {{ paper.year }}</p>
                            <p class="note"><i>{{ paper.journal }}</i></p>
                            {% if paper.rank == 1 %}
                                <p class="note"><sup>*</sup>Equal Contribution, <sup>+</sup>Corresponding Author</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}

    <p></p>
    <p></p>

    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-0">
            <div class="media"></div>
            <div class="media-body">
                <h4>Other work</h4>
            </div>
        </div>
    </div>

    <hr class="featurette-divider">

    {% assign sorted_array = site.papers | sort: "rank" %}
    {% for paper in sorted_array %}
        {% if paper.title == "preprints" %}
            <div class="row">
                {% if paper.rank == 1 %}
                    <div class="col-lg-1 paperbox">
                        <div class="media-body">
                            <div class="head media-heading">Preprints</div>
                        </div>
                    </div>
                {% endif %}
                <div class="col-lg-11 paperbox offset-lg-1 paperbox">
                    <div class="media d-flex">
                        <!-- Image container -->
                        <a class="float-left" href="{{ paper.url }}">
                            <img class="mr-3 align-self-center" width="300" src="{{ paper.image_url }}" alt="{{ paper.image_alt }}">
                        </a>
                        <!-- Text container -->
                        <div class="media-body align-self-center">
                            <div class="smallhead mb-1">
                                <strong><a href="{{ paper.url }}" class="off">{{ paper.paper_title }}</a></strong>
                            </div>
                            <p class="note"> {{ paper.author_list }} {{ paper.year }}</p>
                            <p class="note"><i>{{ paper.journal }}</i></p>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}

    <p></p>
    <p></p>

    {% assign sorted_array = site.papers | sort: "rank" %}
    {% assign last_year = "0000" %}
    {% for paper in sorted_array %}
        {% if paper.title == "previous involved work" %}
            <div class="row">
                {% if paper.year != last_year %}
                    {% assign last_year = paper.year %}
                    <div class="col-lg-1 paperbox">
                        <div class="media-body">
                            <div class="head media-heading">{{ paper.year }}</div>
                        </div>
                    </div>
                {% endif %}
                <div class="col-lg-11 paperbox offset-lg-1 paperbox">
                    <div class="media d-flex">
                        <!-- Image container -->
                        <a class="float-left" href="{{ paper.url }}">
                            <img class="mr-3 align-self-center" width="300" src="{{ paper.image_url }}" alt="{{ paper.alt }}">
                        </a>
                        <!-- Text container -->
                        <div class="media-body align-self-center">
                            <div class="smallhead mb-1">
                                <strong><a href="{{ paper.url }}" class="off">{{ paper.paper_title }}</a></strong>
                            </div>
                            <p class="note"> {{ paper.author_list }} {{ paper.year }}</p>
                            <p class="note"><i>{{ paper.journal }}</i></p>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}

</div>

