---
layout: "wrapper"
---

<div class="bigspacer"></div>

<div class="row">
    <div class="col-lg-8 paperbox offset-lg-2 paperbox">
        <div class="media d-flex">

            <img class="pull-left pad-right media-object" src="{{ page.image_url }}" style="max-width:150px">

            <div class="media-body">
                <h3><strong>{{ page.paper_title }}</strong></h3>
                <p></p>
                <div class="smallhead">{{ page.author_list }}</div>
                <div class="bigspacer"></div>
                <div class="smallhead">
                    {{ page.journal }}
                    ({{ page.year }})
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-2 offset-lg-2">
        <div class="bigspacer"></div>
        <div class="glyphbox note">
            <div class="bigspacer"></div>

            <div class="smallhead">
                DOI
            </div>
            <div class="pad-left note" style="display: flex; align-items: center;">
                <p></p>
                <a href="https://doi.org/{{ page.doi }}">
                    <img
                      src="{{ site.baseurl }}/assets/images/icons/external.svg"
                      alt="External website logo"
                      style="width: 16px; height: 16px; margin-right: 5px;"
                    />
                </a>
                <a class="off" href="https://doi.org/{{ page.doi }}">{{ page.doi }}</a>
            </div>
            <div class="bigspacer"></div>

            </div>
    </div>
    <div class="col-lg-5">
        <div class="post">
            <h1 id="abstract">Abstract</h1>
        </div>
        <p>
            {{ content }}
        </p>
    </div>
</div>


</html>